

[class^=container]{
    border: 1px solid rgba(63, 63, 243, 0.959);
}

header{
    background-color: burlywood;
}

.jumbotron{
    background-color: rgb(12, 209, 143);
}

[class^=col]{
    height: 50px;
    border: 1px solid rgba(63, 177, 243, 0.959);
}

.contact [class^=col],
.card [class^=col]{
    height: 400px;
    
}

.about [class^=col]{
    height: 80px;
}
.container-sm,
.contact{
    border: 1px solid red;
}