footer,
header{
    background-color: #3A546D;
}
.jumbotron{
    background-color: #1ABC9C;
}

.about{
    background-color: #1ABC9C;
}

.footer-bottom{
    background-color: #2C3E50;
    color: white;
}

.name-color-footer{
    color: #1ABC9C;
}

nav{
    line-height: 50px;
    vertical-align: middle;
}

footer span{
    width: 100%;
}
/**text**/

#cs-text{
    color: white;
    font-weight: bold;
}

/*!star*/
.progress{
    width: 100px;
    height: 5px;
}
.fa-star{
    font-size: 2rem;
    width: auto;
}

/**img**/
#jumbotron-figure{
    margin-bottom: 0;
}
.jumbotron-img{
    max-width: 300px;
    height: auto;
}

.portfolio img{
    max-width: 100%;
    height: auto;
}

.footer-social i{
    padding-left: 20px;
}
/*? custom utilities*/
.contact textarea,
.contact input{
    border: 0;
    padding: 0;
}
.form-control.cs-border{
    border-bottom: 1px solid gray;
}

#cs-btn-contact{
    background-color: #1ABC9C;
}